<div class="auth-block">
  <form class="form-4">
    <h1>Result</h1>
    <h5>Тепер ви таємний санта</h5>
      
    <label for="username">Ім'я одержувача</label>
      <p><output name="result">0</output></p>

      <label for="lastname">Прізвище одержувача</label>
      <p><output name="result">1</output></p>
    
      <label for="desire">Побажання одержувача</label>
      <p><output name="result">2</output></p>
    
    <p routerLink="/register">
      <button class="modal-action btn waves-effect">Почати знову</button>
    </p>      
  </form>
  </div>